* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gugi-R';
    src: url(../webfonts/Gugi-Regular.ttf);
}

@font-face {
    font-family: "Blinker-R";
    src: url(../webfonts/Blinker-Regular.ttf);
}

@font-face {
    font-family: "Blinker-B";
    src: url(../webfonts/Blinker-Bold.ttf);
}

@font-face {
    font-family: "Blinker-L";
    src: url(../webfonts/Blinker-Light.ttf);
}

:root {
    /*&&&&&&&&&&&&&& COLORs &&&&&&&&&&&&&&*/
    --bg-header: rgba(214, 46, 51, 0.6);
    --bg-pra-section-one: #ccc;
    --icon-hover: #fff;
    --icon-bar: #000;
    --pra-section-one: #212529;
    --text-shadow-name: rgba(128, 0, 0, 1);
    --box-shadow-input: rgb(214, 46, 51);
    --box-shadow-name: #800000;
    --box-shadow-about: rgba(0, 0, 0, 0.7);
    --box-shadow-cards: rgba(102, 0, 0, 0.92);
    /*&&&&&&&&&&&&&& FONTSs &&&&&&&&&&&&&&*/
    --Gugi-R: "Gugi-R";
    --Blinker-R: "Blinker-R";
    --Blinker-B: "Blinker-B";
    --Blinker-L: "Blinker-L";
}

/*^^^^^^ HEADER ^^^^^^*/
nav {
    right: 100%;
    font-family: var(--Blinker-L);
    font-weight: 700;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.open-side-bar {
    bottom: 50%;
}

.close-btn i {
    width: 90%;
    transition: 0.5s all;
}

.close-btn {
    display: none;
    cursor: pointer;
}

.list-ul {
    display: none;
}

.nav-info a {
    transition: 0.7s all;
    color: var(--icon-hover);
}

.nav-info a:hover,
.close-btn i:hover {
    color: var(--box-shadow-name);
    cursor: pointer;
}

.toggel {
    font-family: var(--Blinker-R);
    font-size: 25px;
    cursor: pointer;
}

.div-header {
    background-image: url(../image/events-heavenly-header.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-header {
    background-color: var(--bg-header);
}

.bg-header h2 {
    font-size: 60px;
    font-family: var(--Gugi-R);
}

.bg-header p {
    font-family: var(--Blinker-R);
}

@media (max-width:640px) {
    .open-side-bar {
        bottom: 80%;
    }
}

/*^^^^^^ SECTION-ONE ^^^^^^*/
.singer-name {
    background-color: var(--bg-header);
    font-size: 30px;
    font-family: var(--Blinker-B);
    text-shadow: -1px 1px 17px var(--text-shadow-name);
    box-shadow: 10px -1px 97px -7px var(--box-shadow-name) inset;
}

.singer-about {
    background-color: var(--bg-pra-section-one);
    color: var(--pra-section-one);
    font-family: var(--Blinker-R);
    box-shadow: 10px -1px 97px -7px var(--box-shadow-about) inset;
}

#section-one header {
    cursor: pointer;
}

.about-one,
.about-two,
.about-three,
.about-four {
    padding: 16px;
}

.about-two,
.about-three,
.about-four {
    display: none;
}

.singer {
    width: 70%;
    box-shadow: 2px 10px 30px var(--pra-section-one);
}

@media (max-width:640px) {
    .singer {
        width: 100%;
    }
    .container-one
    {
        width: 100%;
    }
}

/*^^^^^^ SECTION-TWO ^^^^^^*/
#section-two {
    background-image: url(../image/invitation-2508607__340.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-two {
    background-color: var(--bg-header);
}

.container-two .container {
    padding-block: 50px;
}

.time {
    padding: 50px;
    box-shadow: 0px 5px 25px var(--box-shadow-cards) inset;
}

.time span {
    font-size: 30px;
    font-family: var(--Blinker-R);
    font-weight: 700;
}

/*^^^^^^ SECTION-THREE ^^^^^^*/
#section-three {
    font-family: var(--Blinker-L);
}

#section-three .container {
    padding-block: 100px;
}

.header-section-three h2 {
    font-family: var(--Blinker-B);
}

.inputs .form-control:focus {
    border-color: var(--box-shadow-name);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--box-shadow-input);
}

.social-icons span {
    transition: 0.6s all;
}

.social-icons span:hover {
    color: var(--icon-hover);
    background-color: var(--bg-header);
}

/*^^^^^^ SCROLL BAR ^^^^^^*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--icon-bar);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--box-shadow-input), var(--box-shadow-name));
    border-radius: 30px;
}